<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
      <default>
            <dev>
                  <mageforge_inspector>
                        <enabled>0</enabled>
                  </mageforge_inspector>
            </dev>
            <mageforge>
                <inspector>
                    <theme>dark</theme>
                    <show_button_labels>1</show_button_labels>
                    <position>bottom-left</position>
                </inspector>
            </mageforge>
      </default>
</config>
