<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument
                name="commands"
                xsi:type="array"
            >
                <item
                    name="openforgeproject_mageforge_hello"
                    xsi:type="object"
                >OpenForgeProject\MageForge\Console\Command\HelloMageForgeCommand</item>
                <item
                    name="openforgeproject_mageforge_version"
                    xsi:type="object"
                >OpenForgeProject\MageForge\Console\Command\VersionCommand</item>
                <item
                    name="openforgeproject_mageforge_system_check"
                    xsi:type="object"
                >OpenForgeProject\MageForge\Console\Command\SystemCheckCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="OpenForgeProject\MageForge\Console\Command\SystemCheckCommand">
        <arguments>
            <argument name="productMetadata" xsi:type="object">Magento\Framework\App\ProductMetadataInterface</argument>
        </arguments>
        <arguments>
            <argument name="escaper" xsi:type="object">Magento\Framework\Escaper</argument>
        </arguments>
    </type>
</config>
