<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument
                name="commands"
                xsi:type="array"
            >
                <item
                    name="mageforge_version"
                    xsi:type="object"
                >OpenForgeProject\MageForge\Console\Command\VersionCommand</item>
                <item
                    name="mageforge_system_check"
                    xsi:type="object"
                >OpenForgeProject\MageForge\Console\Command\SystemCheckCommand</item>
                <item
                    name="mageforge_theme_list"
                    xsi:type="object"
                >OpenForgeProject\MageForge\Console\Command\ListThemeCommand</item>
                <item
                    name="mageforge_theme_build"
                    xsi:type="object"
                >OpenForgeProject\MageForge\Console\Command\BuildThemeCommand</item>
                <item name="mageforge_theme_watch"
                      xsi:type="object"
                      >OpenForgeProject\MageForge\Console\Command\ThemeWatchCommand</item>
            </argument>
        </arguments>
    </type>

    <!-- Configure Theme Builder Pool -->
    <type name="OpenForgeProject\MageForge\Service\ThemeBuilder\BuilderPool">
        <arguments>
            <argument name="builders"
                      xsi:type="array"
                      >
                <item name="hyva"
                      xsi:type="object"
                      >OpenForgeProject\MageForge\Service\ThemeBuilder\HyvaThemes\Builder</item>
                <item name="standard"
                      xsi:type="object"
                      >OpenForgeProject\MageForge\Service\ThemeBuilder\MagentoStandard\Builder</item>
                <item name="tailwindcss"
                      xsi:type="object"
                      >OpenForgeProject\MageForge\Service\ThemeBuilder\TailwindCSS\Builder</item>
            </argument>
        </arguments>
    </type>
</config>
