<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mageforge" translate="label" sortOrder="200">
            <label>MageForge</label>
        </tab>
        <section id="mageforge_inspector" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Toolbar</label>
            <tab>mageforge</tab>
            <resource>OpenForgeProject_MageForge::config_inspector</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Toolbar Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Toolbar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>dev/mageforge_inspector/enabled</config_path>
                    <comment>Enable or disable the MageForge Toolbar. Default: No.</comment>
                </field>
                <field id="theme" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Theme</label>
                    <source_model>OpenForgeProject\MageForge\Model\Config\Source\InspectorTheme</source_model>
                    <config_path>mageforge/inspector/theme</config_path>
                    <comment>Choose between Dark, Light, or Auto (System Preference) theme.</comment>
                </field>
                <field id="show_button_labels" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Button Labels</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>mageforge/inspector/show_button_labels</config_path>
                    <comment>Show text labels on the Toolbar and Inspector buttons. Default: Yes.</comment>
                </field>
                <field id="position" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Toolbar Position</label>
                    <source_model>OpenForgeProject\MageForge\Model\Config\Source\ToolbarPosition</source_model>
                    <config_path>mageforge/inspector/position</config_path>
                    <comment>Position of the MageForge Toolbar on the page. Default: Bottom Left.</comment>
                </field>
                <field id="show_health_score" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Health Score</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>mageforge/inspector/show_health_score</config_path>
                    <comment>Show the Overall Health Score gauge and Run All Tests button in the toolbar footer. Default: Yes.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
